mixin rem-button(text, href, disabled)
  if href
    a.button(
      class=allMods,
      data-btn='',
      href=href,
      disabled=disabled
    )&attributes(attributes)= text
  else
    button.button(class=allMods, data-btn='', disabled=disabled)&attributes(attributes)= text
